p {
  font-weight: 600;
}

#body-wrapper {
  margin-left: 290px;
  padding-top: 30px;
  color: hsla(0, 0%, 100%, 0.7);
  padding: 30px 15px 0;
  min-height: calc(100vh - 82px);
}

.todo-header-wrap {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo-heading,
.path,
.todo-body {
  padding: 0 12px;
}

.todo-heading > h3 {
  font-size: 24px;
  font-weight: 600;
}

.card {
  background-color: #111727;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.card-name > p {
  font-size: 18px;
}

.finished-checkbox {
  display: flex;
  text-align: center;
  align-items: center;
  color: #d22d3d;
}

.finished-checkbox > input {
  accent-color: #d22d3d;
  margin-left: 5px;
}

.todo-tasks {
  padding: 30px;
}

.task-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(36, 105, 92, 0.2);
  padding: 10px 0;
}

.task-name > h4 {
  margin: 0px 0px 8px;
  font-size: 17px;
}

.delete-approve {
  width: 16px;
  height: 26px;
  color: #24695c;
}

.task-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  padding: 1px 5px;
}

.approve{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 5px;
}

.delete:hover, .approve:hover {
  text-align: center;
  border-radius: 4px;
  background: #111727;
  border: 1px solid rgba(36, 105, 92, 0.2);
}

.task-name-two{
  color:#24695c;
  text-decoration: line-through#24695c;;
}